** Add css rules here for your application . * /
	/** Example rules used by the template application (remove for your app) */
	
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.black_content {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 16px;
	/*border: 16px solid orange;*/
	-moz-opacity: 0.5;
	opacity: .50;
	background-color: #333333;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 99909050;
	overflow: auto;
}

.white_content {
	display: none;
	/* -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;*/
	position: absolute;
	/*top: 45%;
    left: 40%;
    width: 20%;
    height: 15%;*/
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 16px;
	/*border: 16px solid orange;*/
	-moz-opacity: 0.8;
	opacity: .80;
	background-color: #333333;
	background-position: center;
	background-image: url("images/cargando.gif");
	background-repeat: no-repeat;
	z-index: 99909055;
	overflow: auto;
}