@CHARSET "ISO-8859-1";

.menuBar {
	cursor: default;
	text-align: center;
	background: transparent;
	border: none;
	color: white;
	text-shadow: none;
	font-size: 100%;
}

label
,
input
,
{
font-size
:
 
15
px
 
!
important
;


}
input[type="text"][name] {
	font-style: italic;
	color: #524F4F;
}

#title1 {
	font-weight: bold;
	color: bold;
	color: white;
	font-size: 18px;
	font-size: 2.5vw;
}

#para1 {
	font-weight: bold;
	color: bold;
	color: white;
	font-size: 100%;
}

#para1:hover {
	background-color: white;
	color: black;
}

.heading {
	background-color: white;
	color: red;
	font-style: italic;
	font-size: 350%;
	text-align: center;
	font-weight: bold;
}